/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
* {
  box-sizing: border-box;

}
.innerShadow {
  box-shadow: 0px -12px 40px -32px rgba(0, 0, 0, 0.15) inset;
}

body {
  margin: 0;
  padding: 0 !important;
}

::-webkit-scrollbar {
  height: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      } */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f4f4f4;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:active {
  display: block;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

.wrapImg_bottom::-webkit-scrollbar {
  display: none;
}

.info_title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.info_lessor {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

a:hover {
  text-decoration: none !important;
}

.transitionPrimary {
  transition: linear 0.2s;
}

.minHeight {
  height: calc(100vh - 125px);
}